@import url('./normalize.min.css');

/*heading; font-family: 'Proza Libre', sans-serif;*/
/*body: font-family: 'Open Sans', sans-serif;*/

html, body {
    margin: 0;
    height: 100%;
}
body {

    /*background-color: #2b28d5;*/
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;

    background-color: #d7dde2;
}


h1, h2, h3, h4, h5, h6 {
    font-family: 'Proza Libre', sans-serif;
}

.app-shell {
    /*margin: 1em;*/
    /*border-radius: 25px;!* 25px 0 0;*!*/
}

header {

    background: rgb(11,0,190);
    background: linear-gradient(152deg, rgba(11,0,190,1) 0%, rgba(0,147,177,1) 100%);
    border-radius: 0 0 25px 25px;

    position: fixed;
    top: 0;
    width: 100%;
    height: 25vh;
    z-index: 250;
}
    header h1 {
        font-size: 3em;

        position: absolute;
        top: 50px;
        right: 25px;
    }

    header p {
        position: absolute;
        bottom: 0;
        right: 25px;
    }

.app-body {
    margin-top: 28vh;
}

.meta {
    margin: 0.3em;
}

.meta.date {
    font-style: italic;
    font-weight: lighter;
    font-size: 0.8em;
}


/**
 * Timeline
 */
div.timeline {
    position: relative;
}
div.timeline::before {
    /* this is the vertical line */
    content: '';
    position: absolute;
    top: 0;
    left: 25px;
    height: 100%;
    width: 2px;
    background: #fff;
}

section.timeline-item {
    position: relative;
    margin: 2em 0;
}

    section.timeline-item > div.timeline-content {
        position: relative;
        background-color: #fff;
        border-radius: 5px;
        margin-left: 45px;
        margin-right: 1em;
        padding: 0.5em;
        color: rgb(3, 0, 58);
        -webkit-box-shadow: 1px 1px 2px 0px #708890;
        -moz-box-shadow: 1px 1px 2px 0px #708890;
        box-shadow: 1px 1px 2px 0px #708890;
    }
        section.timeline-item > div.timeline-content > h4 {
            padding-top: 0;
        }

        section.timeline-item > div.timeline-content > h4 > .company {
            font-weight: bold;
        }

        section.timeline-item > div.timeline-content > h4 > .location {
            font-weight: normal;
        }
        section.timeline-item > div.timeline-content > h4 > .role {
            font-weight: normal;
            text-transform: lowercase;
        }

    section.timeline-item > div.timeline-icon {
        position: absolute;
        top: 25px;
        left: 21px;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background: #FFF;
    }

        section.timeline-item > div.timeline-icon > span {
            position: relative;
            top: -10px;
            left: 27px;
            text-align: center;

            display: none;
        }
